* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Game Sans Serif";
  src: url("../../assets/font/game_sans_serif_7.ttf");
}
@font-face {
  font-family: "Many Years Higher";
  src: url("../../assets/font/Many Years Higher.ttf");
}
@font-face {
  font-family: "Game Sans Serif";
  src: url("../../assets/font/game_sans_serif_7.ttf");
}
@font-face {
  font-family: "Many Years Higher";
  src: url("../../assets/font/Many Years Higher.ttf");
}
@font-face {
  font-family: "Game Sans Serif";
  src: url("../../assets/font/game_sans_serif_7.ttf");
}
@font-face {
  font-family: "Many Years Higher";
  src: url("../../assets/font/Many Years Higher.ttf");
}
header {
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
}
header .header {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: initial;
}
header .header__logo {
  width: 350px;
}
@media screen and (max-width: 1600px) {
  header .header__logo {
    width: 250px;
  }
}
header .header__logo img {
  width: 100%;
}
header .header .nav {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header .nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: initial;
}
header .header .nav__link {
  list-style: none;
  text-decoration: none;
  transition: all 0.3s linear;
}
header .header .nav__link a {
  list-style: none;
  text-decoration: none;
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
  display: block;
}
@media screen and (max-width: 1600px) {
  header .header .nav__link a {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 850px) {
  header .header .nav__link a {
    font-size: 0.9rem;
  }
}
header .header .nav__link:hover {
  text-shadow: 0px 4px 12px #872E9F;
  transform: translateY(-10px) scale(1.3);
}

@font-face {
  font-family: "Game Sans Serif";
  src: url("../../assets/font/game_sans_serif_7.ttf");
}
@font-face {
  font-family: "Many Years Higher";
  src: url("../../assets/font/Many Years Higher.ttf");
}
.main__form {
  margin-top: 2rem;
  text-align: center;
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
}
.main__form input:invalid {
  border-color: #D82148;
}
.main__form input:valid {
  border-color: #00BD56;
}
.main__form #questions {
  font-size: 2rem;
  font-family: "Game Sans Serif";
  color: #fff;
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  background: transparent;
  padding: 0.5rem;
  width: 5%;
  text-align: end;
}
.main__form__unit_container {
  margin-top: 1rem;
}
.main__form__unit_container input {
  font-size: 1.5rem;
  font-family: "Game Sans Serif";
  color: #fff;
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  background: transparent;
  padding: 0.5rem;
  min-width: 30%;
}
.main__form__unit_container label {
  display: inline-block;
  min-width: 10%;
  text-align: left;
}
.main__form__unit_container__response {
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  align-items: initial;
}
.main__form__btn {
  font-size: 45px;
  font-family: "Many Years Higher";
  color: #111;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 5rem;
  transition: all 0.2s linear;
  cursor: pointer;
  position: relative;
  background: transparent;
  width: 30%;
  border: none;
}
.main__form__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #872E9F 150%);
  filter: blur(1.1rem);
}
.main__form__btn--blue {
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  color: #fff;
}
.main__form__btn--blue::after {
  background: radial-gradient(#2824D3, #2824D3 200%);
}
.main__form__btn:hover {
  transform: scale(1.1);
}

.btn__container {
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  align-items: initial;
}

body {
  background: #111;
}

#canvas1 {
  position: absolute;
  z-index: -100;
}

.main {
  margin: 0 10%;
  margin-top: 2rem;
}
.main__title {
  font-size: 65px;
  font-family: "Many Years Higher";
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  text-shadow: 0px 4px 12px #872E9F;
}
@media screen and (max-width: 1600px) {
  .main__title {
    font-size: 3rem;
  }
}
.main .list__categorie {
  margin-top: 0rem;
  font-size: 35px;
  font-family: "Game Sans Serif";
  color: #fff;
  list-style: none;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .main .list__categorie {
    font-size: 2rem;
  }
}
.main .list__categorie__btn {
  margin-top: 2rem;
  border-radius: 49px;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  padding: 2rem 0;
  transition: all 0.25s linear;
  cursor: pointer;
  width: 50%;
}
@media screen and (max-width: 1600px) {
  .main .list__categorie__btn {
    padding: 10px;
  }
}
.main .list__categorie__btn:hover {
  border-radius: 49px;
  box-shadow: -2px 4px 20px -9px #872E9F, inset 3px 0px 7px 4px rgba(255, 255, 255, 0.7);
  color: #fff;
  transform: translateY(-10px) scale(1.05);
}
.main__user {
  margin: 0 10%;
}
.main__section {
  text-align: center;
}
.main__section__timer {
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: center;
}
.main__section__timer__bar {
  width: 90%;
  height: 1.8rem;
  border-radius: 2rem;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
}
.main__section__grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 2rem;
}
.main__section__grid__response {
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  transition: all 0.3s linear;
  cursor: pointer;
}
.main__section__grid__response:hover {
  transform: scale(1.05);
}
.main__section__btn {
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  font-family: "Many Years Higher";
  color: #111;
  text-transform: uppercase;
  font-weight: normal;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 1rem 1rem;
  border: none;
  margin: 0 auto;
}
.main__section__btn:hover {
  transform: scale(1.1);
}
.main__score {
  position: absolute;
  bottom: 0;
  right: 20%;
  font-size: 40px;
  font-family: "Many Years Higher";
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.next__question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-family: "Many Years Higher";
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}

.profil {
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: initial;
  padding: 2rem 0;
}
.profil__avatar {
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: center;
}
.profil__avatar p {
  padding-left: 10px;
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
}
.profil__avatar #email {
  padding-top: 1rem;
  opacity: 0.5;
  font-size: 1rem;
}
.profil__avatar__img {
  width: 200px;
  border-radius: 50%;
  box-shadow: -18px 12px 24px -6px rgba(17, 17, 17, 0.7), inset 0px 4px 48px 15px #000000;
}
.profil__avatar__img img {
  width: 100%;
  display: block;
  border-radius: 50%;
}
.profil__create__quizz {
  font-size: 2rem;
  font-family: "Game Sans Serif";
  color: #fff;
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  background: transparent;
  padding: 0.5rem;
  font-size: 40px;
  font-family: "Many Years Higher";
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 2rem;
  height: 8rem;
  margin: auto 0;
}
.profil__create__quizz:hover {
  transform: scale(1.02);
}
.profil__nav {
  display: flex;
  justify-content: space-around;
  flex-direction: initial;
  align-items: initial;
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 1rem 0;
  position: relative;
  width: 80%;
}
.profil__nav__container {
  display: flex;
  justify-content: center;
  flex-direction: initial;
  align-items: initial;
}
.profil__nav__link {
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}
.profil__nav__link--active {
  color: #111;
}
.profil__nav__link--active::before {
  transition: all 0.3s linear;
  cursor: pointer;
  border-radius: 0;
  box-shadow: -2px 4px 20px -9px #fff, inset 3px 0px 7px 4px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  content: "";
  z-index: -1;
  position: absolute;
  top: -25%;
  left: -10%;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  filter: blur(0.3rem);
}
.profil__nav__link:hover {
  transform: scale(1.05);
}
.profil__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 2px;
  box-shadow: 0px 2px 5px #fff;
  background: #fff;
}
.profil__nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 2px;
  box-shadow: 0px -2px 5px #fff;
  background: #fff;
}
.profil__quiz__article {
  display: flex;
  justify-content: space-between;
  flex-direction: initial;
  align-items: initial;
  font-size: 25px;
  font-family: "Game Sans Serif";
  color: #fff;
  padding: 2rem 0;
}
.profil__quiz__article h3 {
  font-weight: normal;
  margin: auto 0;
}
.profil__quiz__article p {
  margin: auto 0;
}
.profil__btn {
  font-size: 30px;
  font-family: "Many Years Higher";
  color: #111;
  text-transform: uppercase;
  font-weight: normal;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  position: relative;
  background: transparent;
}
.profil__btn--play::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #25E2A1;
  filter: blur(0.9rem);
}
.profil__btn--edit {
  color: #fff;
}
.profil__btn--edit::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2824D3;
  filter: blur(0.9rem);
}
.profil__btn:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=style.css.map */
