// colors text
$primary-color: #fff;
$secondary-color: #111;

//color background
$bg-primary: #111;
$bg-purple: #872E9F;

//bg color btn

$btn-color-edit: #2824D3;
$btn-color-play: #25E2A1;

// color

$color-white: #fff;
$color-green: #25E2A1;
$color-purple: #872E9F;
$color-black: #111;
$color-blue: #2824D3;
$color-warning: #D82148;
$color-validate: #00BD56;


// SIZE

$text-size: 25px;
$title-size: 40px;
