@import "../utils/mixins";
@import "../utils/variables";

.main__form {
  @include marginTop;
  @include centerText;
  @include styleText;

  input {
    &:invalid {
      border-color: $color-warning;
    }

    &:valid {
      border-color: $color-validate;
    }
  }

  #questions,
  #id__quiz {
    @include styleInput;
    width: 5%;
    text-align: end;
  }

  // FORM CONNEXION / INSCRIPTION
  &__unit_container {
    @include marginTop(1rem);

    input {
      @include styleInput(1.5rem);
      min-width: 30%;
    }

    label {
      display: inline-block;
      min-width: 10%;
      text-align: left;
    }

    &__response {
      @include flex(space-around);
    }
  }

  &__btn {
    @include styleTitle(45px, $secondary-color);
    @include marginTop(5rem);
    @include hoverTransitionElement(0.2s);
    position: relative;
    background: transparent;
    width: 30%;
    border: none;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient($color-white, $color-purple 150%);
      filter: blur(1.1rem);
    }

    &--blue {
      @include boxShadow;
      color: $primary-color;

      &::after {
        background: radial-gradient($color-blue, $color-blue 200%);
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

// FORM CREATE QUIZZ
.btn__container {
  @include flex($align: center, $direction: column);

  button {
    margin: 2rem auto;
  }
}

.main__form {
  select {
    @include styleInput;

    & option {
      background-color: $bg-primary;
    }
  }
}