@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/queries";

header {
    @include boxShadow;
    .header {
        @include marginLR;
        &__logo {
            width: 350px;
            @include max-media("middle-desktop"){
                width: 250px;
            }
            img {
                width: 100%;
            }
        }
        @include flex;
        .nav {
            width: 65%;
            @include centerBlock;
            ul {
                @include flex;
            }
            &__link {
                @include styleNone;
                transition: all .3s linear;
                a {
                    @include styleNone;
                    @include styleText;
                    display: block;
                    @include max-media("middle-desktop"){
                        font-size: 1.2rem;
                    }
                    @include max-media("pad") {
                        font-size: .9rem
                    }
                }
                &:hover {
                    @include textShadow;
                    transform: translateY(-10px)scale(1.3);
                }
            }
        }
    }
}