//text
@font-face {
    font-family: 'Game Sans Serif';
    src: url('../../assets/font/game_sans_serif_7.ttf');
}
// title
@font-face {
    font-family: 'Many Years Higher';
    src: url('../../assets/font/Many\ Years\ Higher.ttf');

}