@import "./base/reset";
@import "./base/polices";
@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/header";
@import "./layouts/form";
@import "./utils/queries";

body {
    background: $bg-primary;
}

#canvas1 {
    position: absolute;
    z-index: -100;
}

// ACCUEIL

.main {
    @include marginLR;
    @include marginTop;

    @include max-media("phone") {
        margin: 0 5%;
    }

    &__grid {
        @include marginTop(10rem);
        @include centerText;
        position: relative;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);

        h3 {
            @include styleTitle(1.8rem);
            @include textShadow;

            @include max-media("pad") {
                font-size: 1.5rem;
            }

            @include max-media("phone") {
                font-size: 1rem;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 150%;
            width: 1px;
            transform: translate(-50%, -50%);
            background-color: $color-purple;
            box-shadow: 0 0 10px $color-white;
        }
    }

    #title__category {
        display: none;

        @include max-media("pad") {
            font-size: 2rem;
        }

        @include max-media("phone") {
            margin-top: 2rem
        }
    }

    &__title {
        @include styleTitle(65px);
        @include centerText;
        @include textShadow;

        @include max-media("middle-desktop") {
            font-size: 3rem;
        }

        @include max-media("phone") {
            font-size: 2.1rem;
            margin-top: 1rem;
        }
    }

    &__container__block {
        display: none;
    }

    .list__categorie {
        @include max-media("middle-desktop") {
            font-size: 2rem;
        }

        @include marginTop(0rem);
        @include styleText(35px);
        @include styleNone;
        @include centerText;
        @include flex(center, column, center);

        &__btn {
            @include marginTop;
            @include boxShadow(49px);
            @include paddingTB;
            @include hoverTransitionElement(0.25s);
            width: 50%;

            @include max-media("middle-desktop") {
                padding: 10px;
            }

            @include max-media("phone") {
                font-size: 1.5rem;
            }

            &:hover {
                @include boxShadow($radius: 49px, $color: $color-purple, $color-inside: $color-white);
                color: $primary-color;
                transform: translateY(-10px) scale(1.05);
            }

            &--active {
                @include boxShadow($radius: 49px, $color: $color-purple, $color-inside: $color-white);
                color: $primary-color;
                transform: scale(1.05);
            }
        }

    }

    &__user {

        @include marginLR;

        @include max-media("pad") {
            margin: 0 5%;
        }
    }

    // GAME START
    &__container__stats {
        @include paddingTB;
        text-align: center;

        h2 {
            @include styleTitle();
        }

        h3 {
            @include styleTitle(20px);

            @include max-media("phone") {
                font-size: 1.8rem;
            }
        }

        p {
            @include styleText;
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            @include max-media("phone") {
                margin-top: 3rem;
                grid-template-columns: 1fr;
            }
        }
    }

    &__section {
        text-align: center;

        &__timer {
            @include flex($item-align: center);

            img {
                @include max-media("pad") {
                    display: none;
                }
            }

            &__bar {
                width: 90%;
                height: 1.8rem;
                @include boxShadow($radius: 2rem);
            }
        }

        &__grid {
            @include marginTop(6rem);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;
            margin-bottom: 2rem;

            &__response {
                @include boxShadow;
                @include styleText;
                @include paddingTB;
                text-align: center;
                @include hoverTransitionElement;

                &:hover {
                    transform: scale(1.05)
                }
            }
        }

        &__btn {
            @include boxShadow;
            @include styleTitle($color: $secondary-color);
            @include hoverTransitionElement;
            @include paddingTB(1rem, 1rem);
            border: none;
            margin: 0 auto;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__score {
        position: absolute;
        bottom: 0;
        right: 20%;
        @include styleTitle;

        @include max-media("pad") {
            bottom: 25%;
            right: 38%;
        }

        @include max-media("phone") {
            display: none;
            bottom: 0;
            right: 25%;
        }
    }
}

.next__question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include styleTitle(90px);

    @include max-media("phone") {
        font-size: 4rem;
    }
}

//  PAGE USER

.profil {
    @include flex;
    @include paddingTB;

    @include max-media("phone") {
        flex-direction: column;
    }

    &__avatar {
        @include flex($item-align: center);
        margin-bottom: 1rem;

        p {
            padding-left: 10px;
            @include styleText(25px);
        }

        #email {
            padding-top: 1rem;
            opacity: 0.5;
            font-size: 1rem;

            @include max-media("pad") {
                font-size: 0.7rem;
            }
        }

        &__img {
            @include max-media("pad") {
                width: 150px;
            }

            width: 200px;
            border-radius: 50%;
            box-shadow: -18px 12px 24px -6px rgba(17, 17, 17, 0.7),
            inset 0px 4px 48px 15px #000000;

            img {
                width: 100%;
                display: block;
                border-radius: 50%;
            }
        }
    }

    &__create__quizz {
        @include styleInput;
        @include styleTitle;
        @include hoverTransitionElement;

        @include max-media("pad") {
            font-size: 1.6rem;
        }

        @include max-media("phone") {
            height: initial;
            font-size: 1.7rem;
        }

        border-radius: 2rem;
        height: 8rem;
        margin: auto 0;

        &:hover {
            transform: scale(1.02);
        }
    }

    //nav
    &__nav {
        @include flex(space-around);
        @include styleText;
        @include styleNone;
        @include paddingTB(1rem);

        @include max-media("phone") {
            font-size: 1.1rem;
            justify-content: space-between;
            width: 98%;
        }

        position: relative;
        width: 80%;

        &__container {
            @include flex(center);
        }

        &__link {
            @include hoverTransitionElement;
            position: relative;

            &--active {
                color: $secondary-color;

                &::before {
                    @include hoverTransitionElement;
                    @include boxShadow();
                    background-color: $color-white;
                    content: "";
                    z-index: -1;
                    position: absolute;
                    top: -25%;
                    left: -10%;
                    width: 100%;
                    height: 100%;
                    padding: .5rem;
                    filter: blur(.3rem);
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -5%;
            width: 110%;
            height: 2px;
            box-shadow: 0px 2px 5px $primary-color;
            background: $primary-color;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: -5%;
            width: 110%;
            height: 2px;
            box-shadow: 0px -2px 5px $primary-color;
            background: $primary-color;
        }
    }

    // ARTICLE 
    &__quiz__article {
        @include flex;
        @include styleText;
        @include paddingTB;

        @include max-media("phone") {
            font-size: 1.1rem;

        }

        h3 {
            font-weight: normal;
            margin: auto 0;
            min-width: 20%;
            max-width: 20%;
            font-size: 1rem;

            @include max-media("phone") {
                min-width: 30%;
            }
        }

        p {
            margin: auto 0;
            min-width: 20%;
            max-width: 20%;
            text-align: left;

            @include max-media("phone") {
                font-size: .8rem;
                padding-right: 0.3rem;
            }
        }

        &__stats {
            @include max-media("pad") {
                font-size: 1.2rem;
            }

            @include max-media("phone") {
                font-size: 1rem;
                flex-direction: column;
                align-items: center;

                h3 {
                    max-width: initial;
                    text-align: center;
                    text-transform: uppercase;
                    @include textShadow;
                }

                p {
                    max-width: initial;
                }
            }
        }

        &__edit {
            h3 {
                max-width: 30%;
                min-width: 30%;
                font-size: 1rem;
                padding: 0;

            }
        }

        .block__btn {
            @include max-media("phone") {
                display: flex;
                flex-direction: column;
                font-size: 1rem;
            }
        }
    }

    &__btn {
        @include styleTitle(30px, $secondary-color);
        @include hoverTransitionElement(0.2s);
        border: none;
        position: relative;
        background: transparent;

        @include max-media("phone") {
            font-size: 1rem;
        }

        &--play::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $btn-color-play;
            filter: blur(.9rem)
        }

        &--edit {
            @include max-media("phone") {
                margin: 0 0 2rem 0;
            }

            color: $color-white;
            margin-right: 2rem;

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $btn-color-edit;
                filter: blur(.9rem)
            }

        }

        &--delete {
            color: $primary-color;

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $btn-color-delete;
                filter: blur(.9rem)
            }
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

.block__response {
    @include paddingTB;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -2%;
        left: -5%;
        height: 1px;
        width: 110%;
        background-color: $color-purple;
        box-shadow: 0 0 10px $color-white;
    }
}

.form__response {
    display: flex;
    flex-direction: column;

    & label {
        text-align: center;
        @include paddingTB(1rem);
    }
}

#update__profile {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: $btn-color-delete;
    padding: 2px 5px;
    @include hoverTransitionElement;
    @include textShadow;
    @include boxShadow;

    &:hover {
        transform: scale(1.1);
    }

}

//MAIN BLOCK ID QUIZZ

#block__id__quiz {
    @include max-media("pad") {
        margin-top: 14rem;
    }
}